Lista de pacientes
<div class="row">
  <div class="col-12">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  </div>
</div> 

<div class="row mb-4">
  <div class="col-lg-12">
    <table mat-table [dataSource]="dataSource" class="table align-items-center table-flush" id="dataTable" width="100%" cellspacing="0">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name.title}} {{row.name.first}} {{row.name.last}} </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container>

      <!-- Birth Column -->
      <ng-container matColumnDef="birth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth </th>
        <td mat-cell *matCellDef="let row"> {{row.dob.date | date: 'dd/MM/yy'}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let row"> View </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
